path { 
    stroke-width: 2; /* x and y axis width */
} 

.line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.line-path {
  /*stroke: black;*/
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  fill: none;
  stroke-width: 1;
}

.yticks line {
	opacity: 0.2;
	stroke-dasharray: 5,5;
}
